
@{
    ViewBag.Title = "Index";
}

<h2>Lista de pessoa cadastradas</h2>

<table cellpadding="4">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td>&nbsp  &nbsp   </td>
            <td><b>Nome Completo</b></td>
            <td>&nbsp  &nbsp  &nbsp </td>
            <td><b>Estado</b></td>
            <td>&nbsp  &nbsp  &nbsp </td>
            <td>&nbsp  &nbsp  &nbsp </td>
        </tr>
    </thead>



    <tbody>
        @foreach (var L in ViewBag.LIstaPessoa)
        {
            <tr>
                <td>@L.PessoaID</td>
                <td>   </td>
                <td>@L.Nome</td>
                <td> </td>
                <td>@L.Estado</td>
                <td></td>
                <td>
                    @Html.RouteLink("Remover", "PDelete", new { Id = @L.PessoaID })
                </td>

            </tr>
        }

        <tr>
            <td colspan="5"><hr></td>
        </tr>

        <tr>
            <td colspan="5"> @Html.RouteLink("Cadastrar uma nova pessoa", "PAdd")</td>
        </tr>
    </tbody>





</table>

