@model PagedList.IPagedList<PROGRAMA_DE_VIDA_E_MINISTERIO_MACHAVA_15_PT.Models.Pessoa>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Lista de pessoa cadastradas: ( Página @Model.PageNumber de @Model.PageCount )</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td><b>ID</b></td>

            <td><b>Nome Completo</b></td>

            <td><b>Estado</b></td>

        </tr>
    </thead>

    <tbody>
        @foreach (var L in Model)
        {
            <tr>
                <td>@L.PessoaID</td>

                <td>@L.Nome</td>

                <td>@L.Estado</td>

                <td>                    @Html.RouteLink("Remover", "PDelete", new { Id = @L.PessoaID })                </td>

            </tr>
        }



        
    </tbody>

</table>
@Html.RouteLink("Cadastrar uma nova pessoa", "PAdd")
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Npagina = Page }))





